<div class="login">
    <Link to="/">
    <img class="login__logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png"
        alt="" />
    </Link>
    <div class="login__container">
        <h1>Sign Up</h1>
        <form class="needs-validation" action="/api/signup" method="POST" novalidate>
            <div class="form-row mb-2">
                <div class="col-md-12">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <label class="control-label" for="email">E-Mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter E-Mail" required>
                    <div class="invalid-feedback mt-2 mb-2">
                        Please provide a valid E-Mail address.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mt-2">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                    <div class="invalid-feedback mb-2 mt-2">
                        Please provide a valid Password.
                    </div>
                </div>
            </div>
            <button class="login__signIn" type="submit">Sign Up</button>
            <div class="login__text"><a href="/signin">Already registered? Try Login.</a></div>
        </form>


        <p>
            By continuing, you agree to Amazon-clones's Conditions of Use and Privacy
            Notice.
        </p>

    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>